/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
.queue {
    margin-top: 30px;
}
.dropzone {
    background-color: #ccc;
    border: 3px dashed #888;
    width: 350px;
    height: 150px;
    border-radius: 25px;
    font-size: 20px;
    color: #777;
    padding-top: 50px;
    text-align: center;
}
.dropzone.over {
    opacity: .7;
    border-style: solid;
}
.example-4 .dropzone {
    margin-top: 25px;
    padding-top: 60px;
}
/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header {
        margin-bottom: 30px;
    }
}