
$fileup-color-success: #4CAE4C !default;
$fileup-color-error:   #CE0000 !default;
$fileup-file-width:    350px   !default;

$fileup-dropzone-bg-color:     #f6f6ff !default;
$fileup-dropzone-border-color: #0018ff !default;
$fileup-dropzone-border-style: dashed  !default;
$fileup-dropzone-border-width: 1px     !default;