html {
    height: 100%;
}
body {
    height: 100%;
    /*background-color: #E0E0E0;*/
}
body > header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 52px;
}
body > section {
    min-height: 100%;
    padding-top: 20px;
}
body > section > .buffer-content {
    height: 70px;
    width: 100%;
}
body > footer {
    margin-top: -50px;
    background-color: #38354a;
    padding: 15px 0;
    color: #fff;
    height: 50px;
}
.section-margin {margin-top: 60px}

.content-example,
.content-markup {
    background-color: #fff;
    position: relative;
    border: 1px solid #ccc;
    min-height: 100px;
    padding: 40px 15px 15px;
}
.content-example {
    padding: 70px 70px 30px 70px;
    border-radius: 4px 4px 0 0;
}
.content-markup {
    background-color: #f7f7f9;
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
}
.content-example:after,
.content-markup:after {
    position: absolute;
    top:15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.content-example:after {content: "Example"}
.content-markup:after {content: "Markup"}

pre {
    padding: 9px 14px;
}

.content-markup pre {
    background-color: transparent;
    border: none;
    padding: 0;
}

.navbar-default {
    border-color: #e0e0e0;
    background-color: #38354a;
    border-radius: 4px;
}
.navbar-default .navbar-nav > .nav-item > .nav-link:focus,
.navbar-default .navbar-nav > .nav-item > .nav-link:hover,
.navbar-default .navbar-nav > .nav-item > .nav-link.active,
.navbar-default .navbar-nav > .nav-item > .nav-link.active:focus,
.navbar-default .navbar-nav > .nav-item > .nav-link.active:hover {
    background-color: #2b2838;
    color: #d2d9e5;
}
.navbar-expand-lg .navbar-nav .nav-link {
    height: 56px;
    line-height: 40px;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > .nav-item > .nav-link,
.navbar-default .navbar-nav > .nav-item > .nav-link:focus,
.navbar-default .navbar-nav > .nav-item > .nav-link:hover {
    color: #d2d9e5;
}
.navbar-default .navbar-brand {
    margin-top: -5px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d2d9e5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #2b2838;
}
.navbar-default .navbar-toggle {
    border-color: #636363;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #2b2838;
}

/* Sidebar */
#docs-sidenav {
    position: sticky;
    top: 1rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
}
#docs-sidenav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
}
#docs-sidenav ul ul {
    padding-left: 0
}
#docs-sidenav a {
    display: block;
    padding: 4px 15px;
    font-size: 13px;
    font-weight: 400;
    color: #767676;
    text-decoration: none;
}
#docs-sidenav > .nav li > a.active,
#docs-sidenav > .nav li:focus > a.active,
#docs-sidenav > .nav li:hover > a.active {
    padding-left: 12px;
    font-weight: 700;
    color: #563d7c;
    border-left: 2px solid #563d7c;
}
#docs-sidenav > .nav li a:hover {
    text-decoration: none;
    background-color: #eee;
}
#docs-sidenav > .nav .nav li > a {padding-left: 30px;}
#docs-sidenav > .nav .nav li > a.active {padding-left: 28px;}

@media (min-width: 768px) {
    header .nav-item {
        margin: -8px 0;
    }
}
@media (min-width: 992px) {

}